<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="IDXOutputPlugin"
   iconfile="DPL.png"
   description="IDX Output Plugin"
   tooltip="This is a idx output plugin test step"
   category="Output"
   classname="be.ibridge.kettle.idxoutput.IDXOutputPluginMeta">
   <libraries>
    <library name="IDX_output.jar"/>
    </libraries>
    
   <localized_category>
     <category locale="en_US">Output</category>
     <category locale="nl_NL">Output</category>
     <category locale="fr_FR">Output</category>
   </localized_category>
   <localized_description>
     <description locale="en_US">IDX output plugin</description>
     <description locale="nl_NL">Plugin voorbeeld</description>
     <description locale="fr_FR">Example de plugin</description>
   </localized_description>
   <localized_tooltip>
     <tooltip locale="en_US">This is a idx plugin test step</tooltip>
     <tooltip locale="nl_NL">Dit is een voorbeeld plugin ook wel 'idx plugin' geheten</tooltip>
     <tooltip locale="fr_FR">Ceçi est une example de plugin</tooltip>
   </localized_tooltip>
   
</plugin>
